* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: arial;
    background-image: url("../media/img/background.jpg");

}

.form-login {
    width: 500px;
    height: 400px;
    background-color: gray;
    margin:auto;
    margin-top: 180px;
    box-shadow: 7px 13px 25px #000;
    padding: 40px  60px;
    border-top: 4px solid blue;
    color: white;

}
.form-login h5 {
    margin: 0;
    text-align: center;
    height: 70px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 30px;
}
.controls {
    width: 100%;
    border: 1px solid blue;
    margin-bottom: 20px;
    padding: 11px 10px;
    background-color:black;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.buttons {
    width: 100%; 
    height: 40px;
    background-color: blue;
    border: none;
    color: white;
    margin-bottom: 16px;
}

.form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

.form-login a{
    color: white;
    text-decoration: none;
    font-size: 14px;

}

.form-login a:hover{
    text-decoration: underline;
}
