* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../media/img/background.jpg") center / cover;
}

.form-descripcion {
    padding: 50px  70px;
    color: white;
}

.form-descripcion h1 {
    margin: 0;
    text-align: left;
    height: 80px;
    font-size: 40px;
}


.form-descripcion h3 {
    margin: 0;
    margin-bottom: 1rem;
    text-align: left;
    font-size: 20px;
}

.form-descripcion p {
    margin: 0;
    height: 20rem;
}

.book-info {
    margin: 0 auto;
    width: 70%;
}

.buttons {
    margin: 0 auto;
    margin-top: 2rem;
    width: 10rem; 
    height: 50px;
    background-color:white;
    color: black;
    display: block;
}

img {
    margin-right: 2rem;
    float: left;
    display: block;
    width: 15rem;
    height: 22rem;
}

