.main-frame {
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    width: 70%;
    color: white;
}

.mision-vision {
    display: flex;
    flex-flow: column;
}

.cards-frame {
    display: flex;
}
