body {
  background: url("../media/img/background.jpg") center / cover;
}

header {
  display: flex;
  justify-content: center;
  background: rgba(225,225,225,0.4);
}

header h1 {
  margin: 0;
  display: inline;
}

nav ul {
  margin: 0;
  padding: 0;
  display: inline;
}

nav input {
  float: right;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-family: sans;
}

nav ul li a:hover {
    text-decoration: none;
    color: blue;
    font-family: sans;
}

.main-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-frame {
  text-align: center;
  margin-top: 5rem;
}

.search-frame h1 {
  font-size: 7vw;
  color: white;
}

.card {
  float: left;
  display: flex;
  justify-content: center;
  width: 20rem;
  margin: 1rem;
  display: flex;
  flex-flow: column;
}

.profile-pic {
  width: 10rem;
  height: 10.5rem;
}

.card-text {
  background: rgba(255,255,255,0.5);
  color: black;
  padding: 2px 16px;
}

.books-frame {
  margin: 0 auto;
  margin-top: 13rem;
  width: 70%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.book-cover:hover {
    /* Stolen from: https://w3schools.invisionzone.com/topic/53105-how-to-highlight-an-image-when-i-hover-over/?do=findComment&comment=292565 */
    box-shadow: 0 0 10px #333;  -webkit-box-shadow: 0 0 10px #333;  -moz-box-shadow: 0 0 10px #333;  -o-box-shadow: 0 0 10px #333;  -ms-box-shadow: 0 0 10px #333;
}

.book-cover {
  margin: auto;
  width: 18rem;
  height: 24rem;
  margin: .5rem;
}
